In [33]:
 #Step 1
 import pandas as pd

In [34]:
#Step 2
admission =pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Admission%20Chance.csv')

In [35]:
admission

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [36]:
admission.columns

Index(['Serial No', 'GRE Score', 'TOEFL Score', 'University Rating', ' SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [37]:
#Step 3
y = admission['Chance of Admit ']
X = admission[['GRE Score','TOEFL Score','University Rating',' SOP','LOR ','CGPA','Research']]

In [38]:
from sklearn.model_selection import train_test_split

In [39]:
#Step 4
X_train, X_test, y_train, y_test = train_test_split(X,y,train_size=0.7, random_state=2529)

In [40]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((280, 7), (120, 7), (280,), (120,))

In [41]:
#Step 5
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [42]:
#Step 6
model.fit(X_train,y_train)

LinearRegression()

In [43]:
#Step 7
y_pred=model.predict(X_test)

In [44]:
#Step 8
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error

In [45]:
mean_absolute_error(y_test,y_pred)

0.04400128934232659

In [46]:
mean_absolute_percentage_error(y_test,y_pred)

0.07575278864605452

In [47]:
mean_squared_error(y_test,y_pred)

0.004038263715495703